PORT=5000
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/homeease?retryWrites=true&w=majority"
ADMIN_TOKEN=admin-secret
JWT_SECRET=homeease-secret
JWT_REFRESH_SECRET=homeease-refresh-secret
