PORT=5000
MONGO_URI=mongodb+srv://2310030393:Harshavardhan333@cluster0.86wsp.mongodb.net/homeease?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=sk_9xA!pQ7vL@2#rT8$kY6mN3z
JWT_REFRESH_SECRET=rf_4Tg#8LmP@1xZ!9cV5qW2e
ADMIN_TOKEN=adm_7Hk@3Lp#9Qw2Zx!5Mn
CLOUDINARY_CLOUD_NAME=dqhysvke0
CLOUDINARY_API_KEY=622764844961692
CLOUDINARY_API_SECRET=5aJak6Zt3QnuNtSvbxNNfQvRT20
